@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.6%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 262 80% 50%;
    --primary: 262 80% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 160 84% 39%;
    --secondary-foreground: 0 0% 100%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 0 0% 3.6%;
      --foreground: 0 0% 98%;
      --border: 0 0% 14.9%;
      --input: 0 0% 14.9%;
      --ring: 262 80% 50%;
      --primary: 262 80% 50%;
      --primary-foreground: 210 40% 98%;
      --secondary: 160 84% 39%;
      --secondary-foreground: 0 0% 3.6%;
    }
  }
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground;
}
